@font-face {
    font-family: IRANYekan11;
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/yekan/7c912e00.eot);
    src: url(../fonts/yekan/7c912e00.eot?#iefix) format("embedded-opentype"), url(../fonts/yekan/fe12f13a.woff2) format("woff2"),
        url(../fonts/yekan/2d7cc7cd.woff) format("woff"), url(../fonts/yekan/a7d41f91.ttf) format("truetype");
}
@font-face {
    font-family: IRANYekan11;
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/yekan/699085bd.eot);
    src: url(../fonts/yekan/699085bd.eot?#iefix) format("embedded-opentype"), url(../fonts/yekan/a80f71ff.woff2) format("woff2"),
        url(../fonts/yekan/088dfe8a.woff) format("woff"), url(../fonts/yekan/2c83275a.ttf) format("truetype");
}
@font-face {
    font-family: IRANYekan11;
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/yekan/5bea6c32.eot);
    src: url(../fonts/yekan/5bea6c32.eot?#iefix) format("embedded-opentype"), url(../fonts/yekan/1fdcadec.woff2) format("woff2"),
        url(../fonts/yekan/56a1baa4.woff) format("woff"), url(../fonts/yekan/79533773.ttf) format("truetype");
}
@font-face {
    font-family: IRANYekanDigits;
    src: url(../fonts/yekan/24659979.eot);
    src: url(../fonts/yekan/24659979.eot?#iefix) format("embedded-opentype"), url(../fonts/yekan/9a3fc3d8.woff2) format("woff2"),
        url(../fonts/yekan/b7443b71.woff) format("woff"), url(../fonts/yekan/29a4348a.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: IRANYekan11;
    src: url(../fonts/yekan/cea3492e.eot);
    src: url(../fonts/yekan/cea3492e.eot?#iefix) format("embedded-opentype"), url(../fonts/yekan/1d9f5870.woff) format("woff"),
        url(../fonts/yekan/f2ab2738.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: IRANSans;
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/yekan/a83daff6.ttf) format("truetype");
}
@font-face {
  font-family: IranNastaliq;
  font-weight: 300;
  font-style: normal;
  src: url(../fonts/IranNastaliq.ttf) format("truetype");
}
